@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  @apply font-inter font-bold text-[54px] leading-[65.35px] tracking-[-0.02em] text-center text-mainFont;
}

.underline-span {
  @apply font-inter font-bold text-[54px] leading-[65.35px] tracking-[-0.02em] text-center text-mainFont;
}

html {
  scroll-behavior: smooth;
}
